<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='javascript/bootstrap.js') }}"></script>
    <title>Naver</title>

</head>

<body style="background-color: #454d55; color: #fff">
    갤러리 리스트
    <div>
        <button class="btn btn-dark btn-lg" onclick="location.href='?'">전체 갤러리 리스트</button>
        <button class="btn btn-dark btn-lg" onclick="location.href='?board=digital'">마갤: 디지털/IT 리스트</button>
        <button class="btn btn-dark btn-lg" onclick="location.href='?board=game'">마갤: 게임 리스트</button>
    </div>
    <table class="table table-dark table-striped">
        <tbody>
            {% for item in gallerys %}

            <tr style="cursor: pointer;" onclick="location.href='/board?board={{item[1]}}&recommend=0&page=1'">
                    <td> {{item[0]}} 갤러리 </td>
                    <td> {{item[1]}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</body>

</html>